[submodule "Implementation"]
	path = Implementation
	url = https://github.com/JoGo20/Implementation
[submodule "GUI"]
	path = GUI
	url = https://github.com/JoGo20/GUI
[submodule "Communication"]
	path = Communication
	url = https://github.com/JoGo20/Communication
